<div class="profile">
  <h1>プロフィール</h1>

  <div class="profile_image">
    <%= image_tag 'codecamp_image.png' %>
  </div>

  <div class="profile_detail">
    <div class="label">出身地</div>
    <div class="value">滋賀県</div>
  </div>

  <div class="profile_detail">
    <div class="label">特技</div>
    <div class="value">プログラミング</div>
  </div>

  <div class="profile_detail">
    <div class="label">ひとこと</div>
    <div class="value">みなさんよろしくお願いします!</div>
  </div>
  
</div>
