
 <table class="attr">
    <tr>
      <th width="80"><%= form.label :user_id %></th>
      <td><%= form.text_field :user_id, size: 50 %></td>
    </tr>
    <tr>
      <th width="80"><%= form.label :skill_name %></th>
      <td><%= form.text_field :skill_name, size: 50 %></td>
    </tr>

  </table>
